:root {
    --primary-color:#C2D2EA ;
    --secondary-color:#8F91A2;
    --accent1-color:#505A5B ;
    --accent2-color:#343F3E;
    --heading-font:"Roboto", sans-serif;
    --body-font:"Lato", sans-serif ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}
body  {
    font-family: var(--body-font);
    color:var(--accent2-color);
}
header, main , footer {
    width: 850px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia {
    text-decoration: none;
    display: flex;
}
.hero {
    position: relative;
    width: 100%;
    height: 350px;
    /* overflow: hidden; */
}
.hero img {
    display: block;
    width: 100%;
    height: 150px;
    border: solid black;
}
.hero-image {
  width: 100%;
  /* height: 10%; */
  /* object-fit: cover; */
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: lightblue;
}
.hero article img {
    float: right;
    width: 125px;
    border: solid black;
    margin: 0  auto;
}
.layout {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-column: 2/6;
    grid-row: 1; */
}
.other {
    display: flex;
    flex-direction: row;
}
/* button:nth-of-type(1) {
    flex: 1 30px;
    align-self: center;
}
button:nth-of-type(2) {
    flex: 1 30px;
    align-self: center;
}
button:nth-of-type(3) {
    flex: 1 30px;
    align-self: center;
}
button:nth-of-type(4) {
    flex: 1 30px;
    align-self: center; 
} */
button {
    flex: 1 auto;
    /* margin: 5px; */
    font-size: 15px;
    line-height: 1.5;
    align-items: center;
    width: 90px;
    height: 50px;
}
.solve {
    text-align:left;
    display: grid;
    grid-column: 1/2;
    /* grid-template-columns: 1fr;
    grid-template-rows: 20px 40px; */
}
.para {
    display: grid;
}
.top {
    text-align: center;
}
.solve2 {
    
    display: flex;
    text-align: center;
    width: auto;
    height: 150px;
    /* flex-direction: row; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-rows: 20px 20px 20px; */
}
/* .top {
    display: grid;
    display: flex;
    flex-direction: row;
    grid-template-columns: 400px;
    /* grid-template-rows: 150px; */
    /* grid-column: 3/6; */
section img {
    display: grid;
    line-height: 1.5;
    width: 150px;
    grid-gap:5px;
}
.last {
    display: flex;
    flex-direction: row-reverse;
}
footer img {
    display: flex;
    line-height: 0.5;
    width: 30px;
}
.image {
    display: flex;
    width: 100px;
    flex-wrap: column wrap;
    flex-flow:row;
}
form {
    width: auto;
    text-align: right;
    border-radius: 20%;

}
input {
    width: 650px;
    padding: 2px;
    margin: 10px;
}
main {
    text-align: center;
    background-color: grey;
    border-radius: 10%;
}
fieldset {
    border-radius: 10%;
    background-color: #8F91A2;
    text-align: center;
}
caption {
    display: grid;
}
/* button {
    width: 90px;
} */
.top-button {
    display: grid;
    padding: 10px 20px;
    margin: 5px;
    background-color: grey; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    /* transition: background-color 0.3s ease; */
    height: 50px;
}

/* .nav-button:hover {
    background-color: #005fa3; /* Darker shade on hover */
nav.top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
}
.home img {
    width: 40%;
    height: 190px;
    /* object-fit: cover; */
    border-radius: 10%;
}
.trips-table {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
  /* border-collapse: collapse; */
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-radius: 5%;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
.okay-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin: 2rem 0; */
}

