:root {
    --heading-width: 150px;
    --heading-text-align: center;
    --height: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: grey;
}

img {
    width: var(--heading-width);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}
main {
    max-width: auto;
    border-radius: 80%;;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2 ); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--heading-text-align);
}
aside img {
    width: 200px;
    height: var(--height);
}
main img{
    width: var(--heading-width);
    height: var(--height);
    float: left;
}
p {padding: 0;}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--heading-text-align);
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10% );
    padding: 1rem;
    background-color: grey;
    color: #000;
}
aside {
    width: auto;
    text-align: center;
}
/* main img {
    float: right; */
aside h2 {
    /* position: obsolute; */
    top: 47px;
    left: 190px;
    /* text-align: center; */
}